body {
    margin: 0;
    font-family: arial, sans-serif;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.container {
    width: 100%;
    max-width: 380px;
}

.form-card{
    background: palevioletred; 
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2); 
}

h2 {
margin-top: 0;
text-align: center;
color:purple;
}

.input-group{ 
    margin: 12px 0;
}

label {
    font-size: 14px;
    color: plum
}

input {
    width: 100%;
    padding: 10px; 
    margin-top: 6px;
    border: 1px solid cornflowerblue;
    border-radius: 6px;
    font-size:15px;
}

button {
    width: 100%;
    padding: 12px; 
    margin-top: 15px;
    background: burlywood;
    color: white;
    border-radius: 6px;
    font-size:16px;
    cursor: pointer;
    
}

button.hover { 
background: grey
}

.error {
    font-size: 12px; 
    color: red;
}

.switch{
    margin-top: 12px;
    text-align: center; 
}